.react-calendar__tile {
  padding: 0;
  aspect-ratio: 2;
  display: flex;
  flex-direction: row;
}

/**
 * Update tile aspect ratio for phone view
 */
@media (max-width: 1200px) {
  .react-calendar__tile {
    aspect-ratio: 2;
  }
}

@media (max-width: 800px) {
  .react-calendar__tile {
    aspect-ratio: 1;
  }
}

.react-calendar button {
  border: 3px solid #ffffff;
  background-color: #cce2ff;
  border-radius: 8px;
}

.react-calendar__tile--active {
  background-color: #007bff !important;
  color: #ffffff !important;
}

.react-calendar__tile > abbr {
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: top;
  justify-content: start;
  margin: 5px;
  width: 50%;
}

.react-calendar__tile:hover .downtime-bar {
  color: black;
}

.react-calendar {
  width: 100%;
  border: none;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  background-color: #f3f3f3 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}
