# Exclude build outputs and caches.
# These can get quite large and should be built from scratch, anyway.
/dist/
/web_ui/frontend/.next/
/web_ui/frontend/node_modules/
/web_ui/frontend/out/

# Exclude generated data files. These also should be built from scratch.
/docs/parameters.json
/web_ui/frontend/public/data/parameters.json
