#
# Copyright (C) 2023, Pelican Project, Morgridge Institute for Research
#
# Licensed under the Apache License, Version 2.0 (the "License"); you
# may not use this file except in compliance with the License.  You may
# obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

{{if .Origin.UseCmsd}}
all.manager {{.ManagerHost}}+ {{.ManagerPort}}
{{end}}
all.role server
if exec xrootd
  xrd.port {{.Port}}
  xrd.protocol http:{{.Port}} libXrdHttp.so
fi
xrd.tls {{.TLSCertificate}} {{.TLSKey}}
{{if .TLSCertDir}}
xrd.tlsca certdir {{.TLSCertDir}}
{{else}}
xrd.tlsca certfile {{.TLSCACertFile}}
{{end}}
{{if .Origin.UseMacaroons}}
http.exthandler xrdmacaroons libXrdMacaroons.so
macaroons.secretkey {{.MacaroonsKeyFile}}
ofs.authlib ++ libXrdMacaroons.so
{{end}}
http.header2cgi Authorization authz
{{if .Origin.UseVoms}}
http.secxtractor /usr/lib64/libXrdVoms.so
{{end}}
http.staticpreload http://static/robots.txt {{.RobotsTxtFile}}
{{if .Sitename}}
all.sitename {{.Sitename}}
{{end}}
{{if .SummaryMonitoringHost}}
xrd.report {{.SummaryMonitoringHost}}:{{.SummaryMonitoringPort}},127.0.0.1:{{.LocalMonitoringPort}} every 30s
{{end}}
xrootd.monitor all auth flush 30s window 5s fstat 60 lfn ops xfr 5 {{if .DetailedMonitoringHost -}} dest redir fstat info files user pfc tcpmon ccm {{.DetailedMonitoringHost}}:{{.DetailedMonitoringPort}} {{- end}} dest redir fstat info files user pfc tcpmon ccm 127.0.0.1:{{.LocalMonitoringPort}}
all.adminpath {{.XrootdRun}}
all.pidpath {{.XrootdRun}}
oss.localroot {{.Mount}}
xrootd.seclib libXrdSec.so
sec.protocol ztn
ofs.authorize 1
acc.audit deny grant
acc.authdb {{.XrootdRun}}/authfile-generated
ofs.authlib ++ libXrdAccSciTokens.so config={{.XrootdRun}}/scitokens-generated.cfg
all.export {{.NamespacePrefix}}
{{if .Origin.SelfTest}}
# Note we don't want to export this via cmsd; only for self-test
xrootd.export /pelican/monitoring
xrootd.export /.well-known
{{end}}
{{if .Origin.Multiuser}}
ofs.osslib libXrdMultiuser.so default
ofs.ckslib * libXrdMultiuser.so
{{end}}
xrootd.chksum max 2 md5 adler32 crc32
xrootd.trace emsg login stall redirect
pfc.trace info
pss.setopt DebugLevel 1
xrootd.tls all
