[Unit]
Description = Pelican service osdf-cache, public endpoint
After = network.target nss-lookup.target

[Service]
ExecStart = /usr/bin/osdf --config /etc/pelican/osdf-cache-public.yaml cache serve
Restart = on-failure
RestartSec = 20s
WorkingDirectory = /var/spool/osdf

[Install]
WantedBy = multi-user.target
