[Unit]
Description = Pelican service osdf-registry
After = network.target nss-lookup.target

[Service]
EnvironmentFile = -/etc/sysconfig/osdf-registry
ExecStart = /usr/bin/osdf --config /etc/pelican/osdf-registry.yaml registry serve
Restart = on-failure
RestartSec = 20s

[Install]
WantedBy = multi-user.target
