[Unit]
Description = Pelican service osdf-cache
After = network.target nss-lookup.target

[Service]
EnvironmentFile = -/etc/sysconfig/osdf-cache
ExecStart = /usr/bin/osdf --config /etc/pelican/osdf-cache.yaml cache serve
Restart = on-failure
RestartSec = 20s
WorkingDirectory = /var/spool/osdf

[Install]
WantedBy = multi-user.target
