[Unit]
Description = Pelican service osdf-origin with multiuser support
After = network.target nss-lookup.target

[Service]
ExecStart = /usr/bin/pelican --config /etc/pelican/osdf-origin.yaml origin serve
CapabilityBoundingSet = CAP_SETUID CAP_SETGID CAP_DAC_OVERRIDE
Capabilities = CAP_SETGID+p CAP_SETUID+p

[Install]
WantedBy = multi-user.target
