[Unit]
Description = Pelican service osdf-cache
After = network.target nss-lookup.target

[Service]
ExecStart = /usr/bin/osdf --config /etc/pelican/osdf-cache.yaml cache serve
Restart = on-failure
RestartSec = 20s

[Install]
WantedBy = multi-user.target
