[Unit]
Description = Pelican service pelican-registry
After = network.target nss-lookup.target

[Service]
ExecStart = /usr/bin/pelican --config /etc/pelican/pelican-registry.yaml registry serve
Restart = on-failure
RestartSec = 20s

[Install]
WantedBy = multi-user.target
