[Unit]
Description = Pelican service pelican-director
After = network.target nss-lookup.target

[Service]
ExecStart = /usr/bin/pelican --config /etc/pelican/pelican-director.yaml director serve

[Install]
WantedBy = multi-user.target
