#
# Copyright (C) 2023, Pelican Project, Morgridge Institute for Research
#
# Licensed under the Apache License, Version 2.0 (the "License"); you
# may not use this file except in compliance with the License.  You may
# obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# This is a generated configuration file -- DO NOT HAND EDIT.
# It will be overwritten on the next startup of pelican.
#

{{if .Global.Audience}}[Global]
audience_json = {{JSONify .Global.Audience}}{{end}}

{{range $key, $value := .IssuerMap -}}
[Issuer {{.Name}}]
issuer = {{.Issuer}}
base_path = {{ StringsJoin .BasePaths ", " }}
{{- if .RestrictedPaths}}
restricted_path = {{ StringsJoin .RestrictedPaths ", "}}
{{- end}}
{{- if .MapSubject}}
map_subject = {{.MapSubject}}
{{- end}}
{{- if .DefaultUser}}
default_user = {{.DefaultUser}}
{{- end}}
{{- if .NameMapfile}}
name_mapfile = {{.NameMapfile}}
{{- end}}
{{- if .UsernameClaim}}
username_claim = {{.UsernameClaim}}
{{- end}}

{{end -}}
# End of config
