#
# Copyright (C) 2024, Pelican Project, Morgridge Institute for Research
#
# Licensed under the Apache License, Version 2.0 (the "License"); you
# may not use this file except in compliance with the License.  You may
# obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# This is a generated configuration file -- DO NOT HAND EDIT.
# It will be overwritten on the next startup of pelican.
#

[Global]
audience_json = ["test_audience","https://origin.example.com:8443"]

[Issuer Demo]
issuer = https://demo.scitokens.org
base_path = /foo, /bar
default_user = osg

[Issuer Built-in Monitoring]
issuer = https://origin.example.com:8444
base_path = /pelican/monitoring, /foo/bar
default_user = xrootd

[Issuer WLCG]
issuer = https://wlcg.cnaf.infn.it
base_path = /baz

# End of config
