#
# Copyright (C) 2024, Pelican Project, Morgridge Institute for Research
#
# Licensed under the Apache License, Version 2.0 (the "License"); you
# may not use this file except in compliance with the License.  You may
# obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

{{if .Origin.EnableCmsd}}
all.manager {{.Xrootd.ManagerHost}}+ {{.Xrootd.ManagerPort}}
{{end}}
all.role server
if exec xrootd
  xrd.port {{.Origin.CalculatedPort}}
  xrd.protocol http:{{.Origin.CalculatedPort}} libXrdHttp.so
fi
xrd.tls {{.Origin.RunLocation}}/copied-tls-creds.crt {{.Origin.RunLocation}}/copied-tls-creds.crt
{{if .Server.TLSCACertificateDirectory}}
xrd.tlsca certdir {{.Server.TLSCACertificateDirectory}}
{{else}}
xrd.tlsca certfile {{.Server.TLSCACertificateFile}}
{{end}}
{{if eq .Origin.EnableListings false}}
http.listingdeny true
{{end}}
{{if eq .Origin.EnablePublicReads true}}
sec.protbind * none
{{end}}
{{if .Origin.EnableMacaroons}}
http.exthandler xrdmacaroons libXrdMacaroons.so
macaroons.secretkey {{.Xrootd.MacaroonsKeyFile}}
ofs.authlib ++ libXrdMacaroons.so
{{end}}
http.header2cgi Authorization authz
{{if .Origin.EnableVoms}}
http.secxtractor /usr/lib64/libXrdVoms.so
{{end}}
http.staticpreload http://static/robots.txt {{.Xrootd.RobotsTxtFile}}
{{if .Xrootd.Sitename}}
all.sitename {{.Xrootd.Sitename}}
{{end}}
xrd.report {{if .Xrootd.SummaryMonitoringHost -}}{{.Xrootd.SummaryMonitoringHost}}:{{.Xrootd.SummaryMonitoringPort}},{{- end}}127.0.0.1:{{.Xrootd.LocalMonitoringPort}} every 30s
xrootd.monitor all auth flush 30s window 5s fstat 60 lfn ops xfr 5 {{if .Xrootd.DetailedMonitoringHost -}} dest redir fstat info files user pfc tcpmon ccm throttle {{.Xrootd.DetailedMonitoringHost}}:{{.Xrootd.DetailedMonitoringPort}} {{- end}} dest redir fstat info files user pfc tcpmon ccm throttle 127.0.0.1:{{.Xrootd.LocalMonitoringPort}}
all.adminpath {{.Origin.RunLocation}}
all.pidpath {{.Origin.RunLocation}}
{{if eq .Origin.StorageType "posix"}}
oss.localroot {{.Xrootd.Mount}}
{{else if eq .Origin.StorageType "s3"}}
ofs.osslib libXrdS3.so
# The S3 plugin doesn't currently support async mode
xrootd.async off
s3.url_style {{.Origin.S3UrlStyle}}
{{range .Origin.Exports}}
s3.begin
s3.path_name {{.FederationPrefix}}
{{- if .S3Bucket}}
# Buckets may be optional for some origins
s3.bucket_name {{.S3Bucket}}
{{end}}
s3.service_name s3
s3.region {{$.Origin.S3Region}}
s3.service_url {{$.Origin.S3ServiceUrl}}
{{- if .S3AccessKeyfile}}
s3.access_key_file {{.S3AccessKeyfile}}
{{- end -}}
{{if .S3SecretKeyfile}}
s3.secret_key_file {{.S3SecretKeyfile}}
{{- end}}
s3.end
{{end}}
{{else if eq .Origin.StorageType "https"}}
ofs.osslib libXrdHTTPServer.so
httpserver.url_base {{.Origin.HttpServiceUrl}}
httpserver.storage_prefix {{.Origin.FederationPrefix}}
httpserver.trace debug info warning
{{if .Origin.HttpAuthTokenFile -}}
httpserver.token_file {{.Origin.HttpAuthTokenFile}}
{{- end}}
{{else if eq .Origin.StorageType "xroot"}}
# This "origin" is actually acting like a cache that doesn't cache anything by pointing
# to another xrootd server. It allows us to plug bespoke XRootD servers into the federation
# because, after all, everything can be solved with yet another layer of indirection.
pss.origin {{.Origin.XRootServiceUrl}}
ofs.osslib libXrdPss.so
{{end}}
xrootd.seclib libXrdSec.so
ofs.authorize 1
acc.audit deny grant
acc.authdb {{.Origin.RunLocation}}/authfile-origin-generated
acc.authrefresh {{.Xrootd.AuthRefreshInterval}}
ofs.authlib ++ libXrdAccSciTokens.so config={{.Origin.RunLocation}}/scitokens-origin-generated.cfg
# Tell xrootd to make each namespace we export available as a path at the server
{{range .Origin.Exports}}
all.export {{.FederationPrefix}}
{{end}}
{{if .Origin.SelfTest}}
# Note we don't want to export this via cmsd; only for self-test
xrootd.export /pelican/monitoring
xrootd.export /.well-known
{{end}}
{{if .Origin.Multiuser}}
ofs.osslib libXrdMultiuser.so default
ofs.ckslib * libXrdMultiuser.so
{{end}}
xrootd.fslib ++ throttle  # throttle plugin is needed to calculate server IO load
xrootd.chksum max 2 md5 adler32 crc32
xrootd.trace {{.Logging.OriginXrootd}}
ofs.trace {{.Logging.OriginOfs}}
oss.trace {{.Logging.OriginOss}}
xrd.trace {{.Logging.OriginXrd}}
cms.trace {{.Logging.OriginCms}}
http.trace {{.Logging.OriginHttp}}
xrootd.tls all
scitokens.trace {{.Logging.OriginScitokens}}
{{if .Xrootd.ConfigFile}}
continue {{.Xrootd.ConfigFile}}
{{end}}
