#
# Copyright (C) 2023, Pelican Project, Morgridge Institute for Research
#
# Licensed under the Apache License, Version 2.0 (the "License"); you
# may not use this file except in compliance with the License.  You may
# obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

{{if .Origin.EnableCmsd}}
all.manager {{.Xrootd.ManagerHost}}+ {{.Xrootd.ManagerPort}}
{{end}}
all.role server
if exec xrootd
  xrd.port {{.Xrootd.Port}}
  xrd.protocol http:{{.Xrootd.Port}} libXrdHttp.so
fi
xrd.tls {{.Xrootd.RunLocation}}/copied-tls-creds.crt {{.Xrootd.RunLocation}}/copied-tls-creds.crt
{{if .Server.TLSCACertificateDirectory}}
xrd.tlsca certdir {{.Server.TLSCACertificateDirectory}}
{{else}}
xrd.tlsca certfile {{.Server.TLSCACertificateFile}}
{{end}}
{{if eq .Origin.EnableDirListing false}}
http.listingdeny true
{{end}}
{{if .Origin.EnableMacaroons}}
http.exthandler xrdmacaroons libXrdMacaroons.so
macaroons.secretkey {{.Xrootd.MacaroonsKeyFile}}
ofs.authlib ++ libXrdMacaroons.so
{{end}}
http.header2cgi Authorization authz
{{if .Origin.EnableVoms}}
http.secxtractor /usr/lib64/libXrdVoms.so
{{end}}
http.staticpreload http://static/robots.txt {{.Xrootd.RobotsTxtFile}}
{{if .Xrootd.Sitename}}
all.sitename {{.Xrootd.Sitename}}
{{end}}
{{if .Xrootd.SummaryMonitoringHost}}
xrd.report {{.Xrootd.SummaryMonitoringHost}}:{{.Xrootd.SummaryMonitoringPort}},127.0.0.1:{{.Xrootd.LocalMonitoringPort}} every 30s
{{end}}
xrootd.monitor all auth flush 30s window 5s fstat 60 lfn ops xfr 5 {{if .Xrootd.DetailedMonitoringHost -}} dest redir fstat info files user pfc tcpmon ccm {{.Xrootd.DetailedMonitoringHost}}:{{.Xrootd.DetailedMonitoringPort}} {{- end}} dest redir fstat info files user pfc tcpmon ccm 127.0.0.1:{{.Xrootd.LocalMonitoringPort}}
all.adminpath {{.Xrootd.RunLocation}}
all.pidpath {{.Xrootd.RunLocation}}
{{if eq .Origin.Mode "posix"}}
oss.localroot {{.Xrootd.Mount}}
{{else if eq .Origin.Mode "s3"}}
ofs.osslib libXrdS3.so
# The S3 plugin doesn't currently support async mode
xrootd.async off
s3.service_name {{.Origin.S3ServiceName}}
s3.region {{.Origin.S3Region}}
s3.service_url {{.Origin.S3ServiceUrl}}
{{- if .Origin.S3AccessKeyfile}}
s3.access_key_file {{.Origin.S3AccessKeyfile}}
{{- end -}}
{{if .Origin.S3SecretKeyfile}}
s3.secret_key_file {{.Origin.S3SecretKeyfile}}
{{- end}}
{{end}}
xrootd.seclib libXrdSec.so
sec.protocol ztn
ofs.authorize 1
acc.audit deny grant
acc.authdb {{.Xrootd.RunLocation}}/authfile-origin-generated
ofs.authlib ++ libXrdAccSciTokens.so config={{.Xrootd.RunLocation}}/scitokens-origin-generated.cfg
all.export {{.Origin.NamespacePrefix}}
{{if .Origin.SelfTest}}
# Note we don't want to export this via cmsd; only for self-test
xrootd.export /pelican/monitoring
xrootd.export /.well-known
{{end}}
{{if .Origin.Multiuser}}
ofs.osslib libXrdMultiuser.so default
ofs.ckslib * libXrdMultiuser.so
{{end}}
xrootd.chksum max 2 md5 adler32 crc32
xrootd.trace {{.Logging.OriginXrootd}}
pfc.trace {{.Logging.OriginPfc}}
pss.setopt {{.Logging.PssSetOptOrigin}}
xrootd.tls all
scitokens.trace {{.Logging.OriginScitokens}}
