<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>The OA4MP Service</display-name>


    <servlet>
        <servlet-name>discovery</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.servlet.OA2DiscoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>discovery</servlet-name>
        <url-pattern>/.well-known/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discovery</servlet-name>
        <url-pattern>/certs/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>org.oa4mp.server.proxy.ProxyCallbackServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/ready</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>accessToken</servlet-name>
        <servlet-class>org.oa4mp.server.proxy.OA2ATServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>accessToken</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>oidc-cm</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.cm.oidc_cm.OIDCCMServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oidc-cm</servlet-name>
        <url-pattern>/oidc-cm/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>org.oa4mp.server.api.storage.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorize</servlet-name>
        <servlet-class>org.oa4mp.server.proxy.OA2AuthenticationServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorize</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>device_authorization</servlet-name>
        <servlet-class>org.oa4mp.server.proxy.RFC8628Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>device_authorization</servlet-name>
        <url-pattern>/device_authorization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>device</servlet-name>
        <servlet-class>org.oa4mp.server.proxy.RFC8628AuthenticationServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>device</servlet-name>
        <url-pattern>/device</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin-register</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.servlet.OA2AdminRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin-register</servlet-name>
        <url-pattern>/admin-register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>clientVetting</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.servlet.OA2RegistrationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientVetting</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userInfo</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>revoke</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.servlet.RFC7009</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>revoke</servlet-name>
        <url-pattern>/revoke</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>introspect</servlet-name>
        <servlet-class>org.oa4mp.server.loader.oauth2.servlet.RFC7662</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>introspect</servlet-name>
        <url-pattern>/introspect</url-pattern>
    </servlet-mapping>

    <!--
        All incoming requests are proxied via Pelican.
        Assume that Pelican will enforce any security constraints on endpoints.
    -->

    <resource-ref>
        <description>
            Resource reference to a factory for javax.mail.Session
            instances that may be used for sending electronic mail
            messages, preconfigured to connect to the appropriate
            SMTP server.
        </description>
        <res-ref-name>mail/Session</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <listener>
        <listener-class>org.oa4mp.server.loader.oauth2.loader.OA2Bootstrapper</listener-class>
    </listener>

    <error-page>
        <exception-type>org.oa4mp.server.api.storage.servlet.TooManyRequestsException</exception-type>
        <location>/tooManyClientRequests.jsp</location>
    </error-page>

    <!--
        Configuration, as recommended by the OA4MP installer.
    -->

    <context-param>
        <param-name>oa4mp:oauth2.server.config.file</param-name>
        <param-value>{{- .ScitokensServerLocation -}}/etc/cfg.xml</param-value>
    </context-param>

    <context-param>
        <param-name>oa4mp:oauth2.server.config.name</param-name>
        <param-value>default</param-value>
    </context-param>

</web-app>
