services:
  # Build pelican binary
  pelican-builder:
    image: goreleaser/goreleaser
    working_dir: /app
    volumes:
      - ../../:/app
    command: --clean --snapshot --config .goreleaser.dev.yml

  # Run pelican server with all modules
  pelican-server:
    image: hub.opensciencegrid.org/pelican_platform/pelican-dev:latest-itb
    ports:
      - "8444:8444"
    working_dir: /app
    volumes:
      - ../../dist/pelican_linux_arm64_v8.0/:/app
      - ../../local/:/etc/pelican/
    command: ./pelican serve --module director,registry,origin,cache

  # Run pelican API proxy
  pelican-api-proxy:
    restart: always
    build:
      context: ./dev/image
      dockerfile: Dockerfile
    container_name: pelican-dev-proxy
    ports:
      - "8443:8443"
    env_file:
      - ./dev/.env.local
    stdin_open: true
    tty: true
