---
name: Linter

on:
  push:
    branches:
      - "main"
      - "v[0-9]+.[0-9]+.*"
  pull_request:
  workflow_dispatch:

jobs:
  go-linter:
    name: Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      # We embed the contents of web_ui/frontend/out/* into Pelican's
      # binaries. That directory normally contains the output from `npm
      # run build`. However, to keep this workflow's run time short, we
      # simply create a dummy, empty file.
      #
      # Without that file, the linters will raise an error.
      - name: Generate placeholder files
        run: |
          go generate ./...

      # We run this linter here so that issues are called out inline.
      # (It's also run by pre-commit, below.)
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.7.2
          args: --config=.golangci.yaml

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  web-linter:
    name: Web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "web_ui/frontend/package.json"
          cache: "npm"
          cache-dependency-path: "web_ui/frontend/package-lock.json"

      - name: Run Prettier
        run: |
          cd web_ui/frontend
          npm ci
          npm run format
