---
name: Generate Release Artifacts

on:
  push:
    tags:
      # Run only for v7.0.0 and up. Include release candidates.
      - "v[7-9].[0-9]+.[0-9]+"
      - "v[7-9].[0-9]+.[0-9]+-rc.[0-9]+"
      - "v[1-9][0-9]+.[0-9]+.[0-9]+"
      - "v[1-9][0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"

permissions:
  contents: write

jobs:
  goreleaser:
    name: GoReleaser
    if: ${{ github.repository == 'PelicanPlatform/pelican' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # GoReleaser needs history
          ref: ${{ github.ref_name }}

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "web_ui/frontend/package.json"
          cache: "npm"
          cache-dependency-path: "web_ui/frontend/package-lock.json"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload-release:
    name: Upload Release
    needs: goreleaser
    uses: ./.github/workflows/post-release.yml
