name: Run Tests (Linux)

# This workflow is intended to be called from other workflows, such as
# build-and-test.yml and test-linux-pr.yml.

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - binary_name: pelican
            coverprofile: coverage.out
            tags: ""
          - binary_name: pelican-server
            coverprofile: coverage-server.out
            tags: lotman
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0  # GoReleaser needs history to look up the previous tag, and so on
    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: "web_ui/frontend/package.json"
        cache: "npm"
        cache-dependency-path: "web_ui/frontend/package-lock.json"
    - name: Cache Next.js
      uses: actions/cache@v4
      with:
        # Reference: https://nextjs.org/docs/pages/guides/ci-build-caching#github-actions
        path: |
          ~/.npm
          ${{ github.workspace }}/web_ui/frontend/.next/cache
        # Generate a new cache whenever packages or source files change.
        key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
        # If source files changed but packages didn't, rebuild from a prior cache.
        restore-keys: |
          ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - name: Install gotestsum
      run: |
        go install gotest.tools/gotestsum@latest
        # Ensure that ~/go/bin is in PATH for subsequent steps.
        echo "$HOME/go/bin" >> $GITHUB_PATH
    - name: Test
      env:
        JUNIT_FILE: junit-${{ matrix.binary_name }}.xml
      run: |
        echo "::group::Building web UI"
        make web-build
        echo "::endgroup::"
        gotestsum --format pkgname-and-test-fails --hide-summary=output --junitfile "$JUNIT_FILE" -- -p=4 -timeout 15m -coverpkg=./...      -covermode=count -coverprofile=${{ matrix.coverprofile }} -tags=${{ matrix.tags }} ./...
    - name: Upload junit report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: junit-${{ matrix.binary_name }}-linux
        path: junit-${{ matrix.binary_name }}.xml
    - name: Publish JUnit summary
      if: always()
      uses: test-summary/action@v2
      with:
        paths: junit-${{ matrix.binary_name }}.xml
    - name: Get total code coverage
      if: github.event_name == 'pull_request'
      id: cc
      run: |
        set -x
        cc_total=`go tool cover -func=${{ matrix.coverprofile }} | grep total | grep -Eo '[0-9]+\.[0-9]+'`
        echo "cc_total=$cc_total" >> $GITHUB_OUTPUT
    - name: Add coverage information to action summary
      if: github.event_name == 'pull_request'
      run: echo 'Code coverage ' ${{steps.cc.outputs.cc_total}}'%' >> $GITHUB_STEP_SUMMARY
    - name: Mark the checkout as safe
      # This is required by the GoReleaser build below and subsequent tests.
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: latest
        args: build --single-target --clean --snapshot
    - name: Copy the pelican binary for the end-to-end tests
      run: |
        cp dist/${{ matrix.binary_name }}_linux_amd64_v1/${{ matrix.binary_name }} ./pelican
    - name: Run integration tests
      run: ./github_scripts/citests.sh
    - name: Run end-to-end test for object get/put
      run: ./github_scripts/get_put_test.sh
    - name: Run end-to-end test for director stat
      run: ./github_scripts/stat_test.sh
    - name: Run end-to-end test for --version flag
      run: ./github_scripts/version_test.sh
    - name: Run end-to-end test for site-local cache standup
      run: ./github_scripts/site_local_cache_test.sh
