---
name: Run Tests (Linux) [on pull request]

# On Linux, we run tests in a custom container image. However, on a pull
# request, we cannot build and push a newer version of that image. Rather
# than make the tests wait on the builds in build-and-test.yml, we trigger
# them immediately using the most recent container image that was built.

on:
  pull_request:
  repository_dispatch:
    types:
      - dispatch-build
  workflow_dispatch:

jobs:
  run-tests:
    name: Test
    uses: ./.github/workflows/test-linux.yml
    with:
      image: hub.opensciencegrid.org/pelican_platform/pelican-test:latest-itb
