---
name: Run Tests (macOS)

on:
  pull_request:
  push:
    branches:
      - "main"
    tags:
      # Run only for v7.0.0 and up. Include release candidates.
      - "v[7-9].[0-9]+.[0-9]+"
      - "v[7-9].[0-9]+.[0-9]+-rc.[0-9]+"
      - "v[1-9][0-9]+.[0-9]+.[0-9]+"
      - "v[1-9][0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"
  repository_dispatch:
    types:
      - dispatch-build
  workflow_dispatch:

jobs:
  run-tests:
    name: macOS (${{ matrix.binary_name }})
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - binary_name: pelican
            coverprofile: coverage.out
            tags: ""
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # GoReleaser needs history to look up the previous tag, and so on

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "web_ui/frontend/package.json"
          cache: "npm"
          cache-dependency-path: "web_ui/frontend/package-lock.json"
          check-latest: true

      - name: Cache Next.js
        uses: actions/cache@v4
        with:
          # Reference: https://nextjs.org/docs/pages/guides/ci-build-caching#github-actions
          path: |
            ~/.npm
            ${{ github.workspace }}/web_ui/frontend/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx', '!**/node_modules/**') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Set Go version
        # Determine the string to use in setup-go's "go-version" input.
        id: go-version
        run: |
          version=$(grep -E '^go[[:space:]]*[0-9]+\.[0-9]+' go.mod | grep -oE '[0-9]+\.[0-9]+')
          echo "version=${version}.x" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
          check-latest: true

      - name: Install gotestsum
        run: |
          go install gotest.tools/gotestsum@latest
          # Ensure that ~/go/bin is in PATH for subsequent steps.
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Install macOS dependencies
        run: ./github_scripts/osx_install.sh

      - name: Run "go test"
        env:
          JUNIT_FILE: junit-${{ matrix.binary_name }}.xml
        run: |
          echo "::group::Building web UI"
          make web-build
          echo "::endgroup::"
          gotestsum --format pkgname-and-test-fails --hide-summary=output --junitfile "$JUNIT_FILE" -- -p=4 -timeout=15m -coverpkg=./... -covermode=count -coverprofile=${{ matrix.coverprofile }} -tags=${{ matrix.tags }} ./...

      - name: Upload JUnit report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-${{ matrix.binary_name }}-${{ runner.os }}
          path: junit-${{ matrix.binary_name }}.xml
          overwrite: true  # allow the workflow to be re-run, e.g., for flakey tests

      - name: Publish JUnit summary
        if: always()
        uses: test-summary/action@v2
        with:
          paths: junit-${{ matrix.binary_name }}.xml

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: build --single-target --clean --snapshot
