on: [push, pull_request]
name: Test
permissions:
  pull-requests: write
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.20.x]
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Cache Next.js
      uses: actions/cache@v3
      with:
        path: |
          ~/.npm
          ${{ github.workspace }}/.next/cache
        # Generate a new cache whenever packages or source files change.
        key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
        # If source files changed but packages didn't, rebuild from a prior cache.
        restore-keys: |
          ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test
      run: |
        make web-build
        go test -coverpkg=./... -coverprofile=coverage.out -covermode=count ./...
    - name: Run GoReleaser for Non-Ubuntu
      uses: goreleaser/goreleaser-action@v4
      with:
        # either 'goreleaser' (default) or 'goreleaser-pro'
        distribution: goreleaser
        version: latest
        args: build --single-target --clean --snapshot
  test-ubuntu:
    runs-on: ubuntu-latest
    container:
      image: hub.opensciencegrid.org/pelican_platform/pelican-dev:latest-itb
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Cache Next.js
      uses: actions/cache@v3
      with:
        path: |
          ~/.npm
          ${{ github.workspace }}/.next/cache
        # Generate a new cache whenever packages or source files change.
        key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
        # If source files changed but packages didn't, rebuild from a prior cache.
        restore-keys: |
          ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
    - name: Test
      run: |
        make web-build
        go test -coverpkg=./... -coverprofile=coverage.out -covermode=count ./...
    - name: Get total code coverage
      if: github.event_name == 'pull_request'
      id: cc
      run: |
        set -x
        cc_total=`go tool cover -func=coverage.out | grep total | grep -Eo '[0-9]+\.[0-9]+'`
        echo "cc_total=$cc_total" >> $GITHUB_OUTPUT
    - name: Restore base test coverage
      id: base-coverage
      if: github.event.pull_request.base.sha != ''
      uses: actions/cache@v3
      with:
        path: |
          unit-base.txt
        # Use base sha for PR or new commit hash for master/main push in test result key.
        key: ${{ runner.os }}-unit-test-coverage-${{ (github.event.pull_request.base.sha != github.event.after) && github.event.pull_request.base.sha || github.event.after }}
    - name: Run test for base code
      if: steps.base-coverage.outputs.cache-hit != 'true' && github.event.pull_request.base.sha != ''
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch origin main ${{ github.event.pull_request.base.sha }}
        HEAD=$(git rev-parse HEAD)
        git reset --hard ${{ github.event.pull_request.base.sha }}
        make web-build
        go generate ./...
        go test -coverpkg=./... -coverprofile=base_coverage.out -covermode=count ./...
        go tool cover -func=base_coverage.out > unit-base.txt
        git reset --hard $HEAD
    - name: Get base code coverage value
      if: github.event_name == 'pull_request'
      id: cc_b
      run: |
        set -x
        cc_base_total=`grep total ./unit-base.txt | grep -Eo '[0-9]+\.[0-9]+'`
        echo "cc_base_total=$cc_base_total" >> $GITHUB_OUTPUT
    - name: Add coverage information to action summary
      if: github.event_name == 'pull_request'
      run: echo 'Code coverage ' ${{steps.cc.outputs.cc_total}}'% Prev ' ${{steps.cc_b.outputs.cc_base_total}}'%' >> $GITHUB_STEP_SUMMARY
    - name: Run GoReleaser for Ubuntu
      uses: goreleaser/goreleaser-action@v4
      with:
        # either 'goreleaser' (default) or 'goreleaser-pro'
        distribution: goreleaser
        version: latest
        args: --clean --snapshot
    - name: Copy files (Ubuntu)
      run: |
        cp dist/pelican_linux_amd64_v1/pelican ./
    - name: Run Integration Tests
      run: ./tests/citests.sh
